In [17]:
import pickle
import pandas as pd

with open("titanic_step2_feature_change.pickle", "rb") as pickle_filename :
    df = pd.read_pickle(pickle_filename)

In [2]:
# 인코팅 => 특정 사이트 데이터 크롤링 => 주피터 노트북
# 사람이 이해할 수 있는 문법 => 컴퓨터가 이해할 수 있는 형태 : 인코딩
# 컴퓨터가 처리한 문법 => 사람이 이해할 수 있는 형태 : 디코딩

# sklearn & numpy & pandas & plotly
# 레이블 인코딩 => LableEncoding

# 레이블 인코딩 : 문자열 형태의 데이터를 가지고 있다 => 숫자형태의 범주형 카테고리로 분류해서 인코딩
# 원핫 인코딩 => OneHotEncoding : 각 문자열 범주마다 새로운 feature를 만들고 해당 범주에 속하는 경우에만 1값을 부여하는 방식의 인코딩
# BigQuery => even params => key

In [18]:
df_label = df.copy()
df_onehot = df.copy()

ntrain = 886
train = df[:ntrain]

y_train = train["Survived"].copy()

In [19]:
drop_features = ["PassengerId", "Survived"]
df_onehot = df_onehot.drop(drop_features, axis = 1).copy()
df_onehot.head()

,Pclass,Sex,Age,Fare,Cabin,Embarked,Initial,Family,Ticket_Initial2,Ticket_Num_Cut,HighChance,LowChance
0,3,0,3.0,0.0,0,0,0.0,2,0,3,0,0
1,1,1,4.0,3.0,1,1,2.0,2,1,3,2,0
2,3,1,3.0,0.0,0,0,1.0,1,2,9,0,0
3,1,1,4.0,2.0,1,0,2.0,2,3,5,2,0
4,3,0,4.0,0.0,0,0,0.0,1,3,9,0,2

In [20]:
drop_features = ["PassengerId", "Survived"]
df_label = df_label.drop(drop_features, axis = 1).copy()
df_label.head()

,Pclass,Sex,Age,Fare,Cabin,Embarked,Initial,Family,Ticket_Initial2,Ticket_Num_Cut,HighChance,LowChance
0,3,0,3.0,0.0,0,0,0.0,2,0,3,0,0
1,1,1,4.0,3.0,1,1,2.0,2,1,3,2,0
2,3,1,3.0,0.0,0,0,1.0,1,2,9,0,0
3,1,1,4.0,2.0,1,0,2.0,2,3,5,2,0
4,3,0,4.0,0.0,0,0,0.0,1,3,9,0,2

In [21]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [22]:
df_label = df_label.apply(LabelEncoder().fit_transform)

In [23]:
df_label.head()

,Pclass,Sex,Age,Fare,Cabin,Embarked,Initial,Family,Ticket_Initial2,Ticket_Num_Cut,HighChance,LowChance
0,2,0,3,0,0,0,0,1,0,3,0,0
1,0,1,4,3,1,1,2,1,1,3,2,0
2,2,1,3,0,0,0,1,0,2,9,0,0
3,0,1,4,2,1,0,2,1,3,5,2,0
4,2,0,4,0,0,0,0,0,3,9,0,2

In [25]:
onehot_cols = df_label.columns.tolist()
onehot_cols

['Pclass',
 'Sex',
 'Age',
 'Fare',
 'Cabin',
 'Embarked',
 'Initial',
 'Family',
 'Ticket_Initial2',
 'Ticket_Num_Cut',
 'HighChance',
 'LowChance']

In [26]:
df_oneshot = pd.get_dummies(df_label, columns=onehot_cols)

df_oneshot.head()

,Pclass_0,Pclass_1,Pclass_2,Sex_0,Sex_1,Age_0,Age_1,Age_2,Age_3,Age_4,...,HighChance_0,HighChance_1,HighChance_2,HighChance_3,HighChance_4,HighChance_5,HighChance_6,LowChance_0,LowChance_1,LowChance_2
0,False,False,True,True,False,False,False,False,True,False,...,True,False,False,False,False,False,False,True,False,False
1,True,False,False,False,True,False,False,False,False,True,...,False,False,True,False,False,False,False,True,False,False
2,False,False,True,False,True,False,False,False,True,False,...,True,False,False,False,False,False,False,True,False,False
3,True,False,False,False,True,False,False,False,False,True,...,False,False,True,False,False,False,False,True,False,False
4,False,False,True,True,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,True

In [27]:
import pickle

with open("titanic_step3_feature_encoding.pickle") as pickle_filename :
    pickle.dump(df_onehot, pickle_filename)

FileNotFoundError: [Errno 2] No such file or directory: 'titanic_step3_feature_encoding.pickle'