- 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for문을 활용해서 작성해주세요
- 사용자로부터 2~9사이의 숫자를 입력받은 후 해당 숫자에 대한 구구단을 출력해주세요

In [6]:
sum = 0
for index in range(1,11):
    sum = sum + index

sum

55

In [9]:
num = int(input("구구단을 위한 숫자를 입력해주세요"))
if num >= 2 and num <= 9:
    for m in range (1,10):
        print(f"{num}x{m}={num*m}")
else: 
    print("2~9 사이의 숫자만 입력해주세요!")

구구단을 위한 숫자를 입력해주세요 5

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45

- name = "[Dave], [David], [Andy], [Juliet]"
- 위 name이라는 변수 안에 담긴 값을 다음처럼 화면에 출력해주세요
  ```
  Dave
  David
  Andy
  Juliet
  ```

In [39]:
name = "[Dave],[David],[Andy],[Juliet]"

name01 = name.split(",")
for str_name in name01 :
    print(str_name[1:][:-1])

Dave
David
Andy
Juliet

- 1부터 30까지의 숫자 중 3의 배수만 출력해주세요 (*while문 활용)

In [46]:
    #1부터 30까지의 숫자를 반복문을 활용해서 생성 및 찾아오기
#생성 및 찾아온 숫자 중에서 3의 배수를 찾는다 => 3으로 나누었을 때, 나머지의 값이 0 => %
num = 0

while num<=30:
        num +=1
        if num%3 == 0:
            print(num)

3
6
9
12
15
18
21
24
27
30

- 1부터 30까지의 숫자 중 3의 배수만 출력해주세요 (*for문 사용)

In [50]:
for data in range(1,31):
    if data % 3 == 0:
        print(data)

3
6
9
12
15
18
21
24
27
30

- 다음 리스트 자료구조에서 음수값은 삭제하고, 양수값만 가지고 있는 새로운 리스트 변수로 만들어서 출력해주세요.
- num_list[0, -11, 31, 22, -11, 33, -44, -55]

In [68]:
num_list = [0,-11,31,22,-11,33,-44,-55]
listA = list()

for num in num_list:
   if num >= 0 :
       listA.append(num)

listA

[0, 31, 22, 33]

- 아래 리스트에 있는 데이터들의 길이를 출력해주세요. (단, 1줄에 1개씩 구분해서 출력)
- list_data = ["Java","C++","Python","Node"]

```
4
3
6
4
```

In [73]:
list_data = ["Java","C++","Python","Node"]

for index in list_data:
    print(len(index))

4
3
6
4

- filelist = ["exercise01.docx","exercise02.docx","exercise03.docx","exercise04.docx"]
```
exercise01
exercise02
```

In [74]:
filelist = ["exercise01.docx","exercise02.docx","exercise03.docx","exercise04.docx"]

for index in filelist:
    print(index[:-5])

exercise01
exercise02
exercise03
exercise04

In [77]:
filelist = ["exercise01.docx","exercise02.csv","exercise03.txt","exercise04.hwp"]
# 확장자가 "txt"인 값만 출력

for filename in filelist:
    if filename.split(".")[1] == "txt" :
        print(filename.split(".")[0])

exercise03