In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

seriesData = pd.Series([70, 60, 90])
seriesData

0    70
1    60
2    90
dtype: int64

In [6]:
import pandas as pd

seriesData = pd.Series([70, 60, 90], index = ["국어", "영어", "수학"])
seriesData

국어    70
영어    60
수학    90
dtype: int64

In [9]:
seriesData.index

Index(['국어', '영어', '수학'], dtype='object')

In [10]:
seriesData.values

array([70, 60, 90])

In [15]:
seriesData["수학"]

np.int64(90)

In [17]:
print(seriesData["국어"], seriesData.iloc[0])

70 70

In [18]:
del seriesData["국어"]

In [20]:
seriesData

영어    60
수학    90
dtype: int64

In [21]:
seriesData02 = pd.Series(["Dave", "David", "Alex"])
seriesData02

0     Dave
1    David
2     Alex
dtype: object

In [22]:
seriesData04 = pd.Series([1, 1, 1])
seriesData04

0    1
1    1
2    1
dtype: int64

In [23]:
seriesData04.astype("float")

0    1.0
1    1.0
2    1.0
dtype: float64

In [5]:
import pandas as pd

df = pd.DataFrame({
    "미국": [2.1, 2.2, 2.3],
    "한국": [0.4, 0.4, 0.45],
    "중국": [10, 13, 15]
})

df

    미국    한국  중국
0  2.1  0.40  10
1  2.2  0.40  13
2  2.3  0.45  15

In [24]:
SeriesData06=pd.Series([18446744073709551626, 800, 400])
SeriesData06

0    18446744073709551626
1                     800
2                     400
dtype: object

In [25]:
SeriesData07=pd.Series([True, False])
SeriesData07

0     True
1    False
dtype: bool

In [26]:
SeriesData08=pd.Series([18446744076, 800, 400])
SeriesData08

0    18446744076
1            800
2            400
dtype: int64