### 문자열 관련 함수 리스트
- count: 문자열에 있는 특정 문자 개수 세기
- index: 문자열에 있는 특정 문자의 인덱스 위치를 알려주기
- find: 문자열에 있는 특정 문자의 인덱스를 찾아오긴 하나, 만약 존재하지 않는다면 에러를 발생시키지 않고 -1을 발생시킨다.
- join: 문자열 사이에 다른 문자를 끼워 넣기
- strip: 문자열 앞뒤의 공백을 지움
- upper: 소문자를 대문자로 변경
- lower: 대문자를 소문자로 변경
- split: 문자열 내 특정 문자를 기준으로 나누기
- replace: 문자열 중 일부를 다른 문자로 바꾸거나 삭제하기

In [1]:
data = "Dave David"
data.count("Dave")

1

In [7]:
string = "Dave ID is dave"
string.index("d")

11

In [10]:
string01 = "Dave ID is dave"
string01.find("x")
string01.find("a")

if string01.find("x") == -1 :
    print("x는 string01 문자열 객체 안에 없습니다.")

x는 string01 문자열 객체 안에 없습니다.

In [13]:
string02 = "12345"
comma = ","

comma.join(string02)

'1,2,3,4,5'

In [18]:
data01 = "                    Dave        "
data01.strip()

data02 = "      Dave02"
data02.lstrip()

data03 = "              Dave04  "
data03.rstrip()

'              Dave04'

In [27]:
string03 = "          9999999999999999999999999999999(Dave)8888888888888      "
string03.strip(" 98()")

'Dave'

In [30]:
string04 = "Dave ID is dave"
string04.upper()

'DAVE ID IS DAVE'

In [31]:
string05 = "Dave ID is dave"
string05.lower()

'dave id is dave'

In [41]:
string06 = "Dave goes to Korea"
string06.split(" ")[3][0]
string06.split()[3][0]

string07 = "Dave/goes/to/Korea"
string07.split("/")

['Dave', 'goes', 'to', 'Korea']

#### 문자열 "10, 11, 12, 13, 14" 해당 값을 리스트 자료형태 [10, 11, 12, 13, 14]로 변환시켜보세요

In [46]:
strnum = "10, 11, 12, 13, 14"
st1 = strnum.strip().split(",")

In [44]:
string = "10,11,12,13,14"
split_string = string.split(",")

for index, split_item in enumerate(split_string) :
    split_string[index] = int(split_item)
print(split_string)

[10, 11, 12, 13, 14]

In [50]:
string08 = "Dave goes to Korea"
string08.replace("Dave","David")

string09 = "(David)"
string09.replace("(","")

string10 = "(David)"
string10.replace("()","")

string11 = "(David)"
# string12 = string11.replace("(","")
# string12.replace(")","")

#Method Chaining
string13 = string11.replace("(","").replace(")","")
string13

'David'