In [1]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\user\appdata\roaming\python\python313\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import pymysql

# 해당 ecommerce 데이터베이스를 만들고 시작
# 데이터베이스와 연결
db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = "tlgus01937",
    db = "ecommerce",
    charset = "utf8"
)

In [29]:
# 해당 db에 접속해서 무언가를 할 수 있는 커서 역할 구현
ecommerce = db.cursor()

In [8]:
# 테이블 생성
# 따음표를 세 개씩 쓰는 이유? 모든 문자열을 문자로 인식시키기 위해서 (엔터키 포함)
sql = """ 
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(10)
    );
"""

In [10]:
# execute : 무언가를 실행한다
ecommerce.execute(sql)

0

In [11]:
db.commit()

In [12]:
db.close()

In [30]:
cursor = db.cursor()

In [32]:
# 테이블에 값 삽입
# 정수값이 아닌 CHAR(컬럼 형식)으로 가도록 따음표를 넣어준 것
for index in range(10) :
    product_code = 215673140 + index + 1
    sql = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );
    """
    print(sql)
    cursor.execute(sql)

        INSERT INTO product VALUES(
            '215673141',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673142',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673143',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673144',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673145',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673146',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673147',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673148',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673149',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673150',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );

In [33]:
db.commit()
db.close()