In [24]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = "tlgus01937",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [5]:
db

In [6]:
ecommercev1 = db.cursor()

In [7]:
ecommercev1

In [8]:
sql = """
    CREATE TABLE product(
        PRODUCT_CODE VARCHAR(20) PRIMARY KEY NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2)
    );
"""

In [9]:
ecommercev1.execute(sql)

0

In [10]:
db.commit()
db.close()

In [25]:
cursor = db.cursor()

In [21]:
for index in range(10) :
    product_code = 215673140 + index + 1
    SQL = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )
    """
    print(SQL)
    cursor.execute(SQL)

        INSERT INTO product VALUES(
            '215673141',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673142',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673143',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673144',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673145',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673146',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673147',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673148',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673149',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215673150',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )

In [23]:
db.commit()
db.close()

In [ ]:
# fetchall() : 해당 테이블 내 모든 데이터를 가져옵니다.
# fetchone() : 매칭되는 해당 값 중 첫번째 값을 가져옵니다.
# > 이미 앞에서 먼저 찾아온 값이 존재한다면, 해당 값 이후부터 값을 찾아옵니다.
# fetchmany() : 인자값으로 작성된 숫자만큼의 데이터를 가져옵니다.

In [26]:
SQL = "SELECT * FROM product"
cursor.execute(SQL)
row = cursor.fetchone()

print(row)

('215673141', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [28]:
row = cursor.fetchall()

print(row)

(('215673143', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673144', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673145', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673146', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673147', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673148', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673149', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673150', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [29]:
SQL = """
    UPDATE product SET
        TITLE = "썸머 가디건 코디전",
        ORI_PRICE = 33000,
        DISCOUNT_PRICE = 9900,
        DISCOUNT_PERCENT = 70
    WHERE PRODUCT_CODE = "215673150"
"""

In [30]:
cursor.execute(SQL)

1

In [31]:
db.commit()

In [32]:
SQL = """DELETE FROM product WHERE PRODUCT_CODE = '215673150';"""
print(SQL)

DELETE FROM product WHERE PRODUCT_CODE = '215673150';

In [33]:
cursor.execute(SQL)
db.commit()